@import '../../styles/variables.scss';

.header {
  height: $header-height;
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: $box-shadow-props;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.leftSection {
  width: $sidebar-width;
}

.mainSection {
  padding-left: 10px;
  flex-grow: 1;
}

.rightSection {
  display: flex;
  justify-content: flex-end;
}
