@import '../../styles/variables';

.container {
  background-color: $bg-color;
  height: 100vh;
}

.body {
  height: calc(100% - #{$header-height});
  max-height: calc(100% - #{$header-height});
  position: relative;
  top: $header-height;
}
